<!DOCTYPE html>
<html>
  <head>
    <title>Fcalendar2Ajax</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash">
      <%= render 'layouts/aviso' %>
    </div>
    <%= yield %>
  </body>
  </body>
</html>
